#welcomeSign {
    position: relative;
    bottom: 80px;
    border: black;
    padding: 30px;
    font-weight: bold;
    margin-bottom: 150px;
    font-size: 50px;
}

#button1 {
    position: absolute;
    background-color: #A9A9A9; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 90px;
    height: 60px;
    top: 45%;
    left: 46%;
}

#button2 {
    position: absolute;
    background-color: #A9A9A9; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    top: 70%;
    left: 46%;
    width: 90px;
    height: 60px;
}

#signupStatus {
    position: absolute;
}